<div class='genre-show'>

    <h1><%= @genre.name.titleize %></h1>
    <p class= "likes-text"><%= @genre.artists.count %> artists belong to this genre</p>


    <h2 class= "nav-links">Here are 10 of them you might enjoy:</h2>


    <div class="genre-artists">
      <% 10.times do |i|%>
            <div class="genre-card">
              <% if @cover[i] != nil %> 
                <%= link_to image_tag("#{@cover[i]}"), artist_path(@popular[i].id), class: "img-genre" %>
              <% else %>
                <%= image_tag("user.png")%>
              <% end %>
              <%= link_to @popular[i].name, artist_path(@popular[i].id) %>
            </div>
          
         
        <% end %>
    </div>
</div>

