<div class='artist-show'>

  <div class='pic-name'>
    <div class='img-box'>
      <% if @image != nil %>
        <%= image_tag @image %>
      <% end %>
    </div>

    <h1><%= @artist.name %></h1>
    <div class='likes-text'>

      <% if @artist.likes.count == 1 %>
        <%= @artist.likes.count %> person loves this artist
      <% else %>
        <% if @artist.likes.count == 0 %>
         no one likes this artist yet
      <% else %>
         <%= @artist.likes.count %> people love this artist
      <% end %>
      <% end %>
    </div>
      <% pre_like = @artist.likes.find { |like| like.user_id == current_user.id} %>

      <% if pre_like %>
        <%= button_to 'UNLIKE', artist_like_path(@artist, pre_like), method: :delete, class:'unlike-button' %>
      <% else %>
        <%= button_to 'LIKE', artist_likes_path(@artist), method: :post, class:'like-button' %>
      <% end %>
    </div>


<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="false">ABOUT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="true">SIMILAR ARTISTS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">GENRES</a>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

  </div>

  <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div class='similar-artist'>
      <!-- Show 5 similar artists -->
      <% i=0 %>
      <div class='similar-artist-each'>
      <% @similar.each do |a| %>
        <% if i<5 %>
          <div class= 'artist-card'>
          <%= link_to image_tag(a.images[2]['url']), artist_path %>
          <p><%= link_to (a.name), artist_path %></p>
          </div>
          <% i+=1 %>
        <% end %>
      <% end %>
      </div>
    </div>
    </div>

  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
    <div class='genres-artist'>
      <div class= 'genres-artist-each'>
      <% @artist.genres.each do |genre|  %>
        <%= button_to (genre.name), genre_path,  class:'genre-button'%>
      <% end %>
    </div>
  </div>

</div>
</div>
