<h1><%= @artist.name %></h1><br>

<% if @image != nil %>
  <%= image_tag @image %><br>
<% end %>

<h2>Genres:</h2>
<% @artist.genres.each do |genre|  %>
  <h3><%= genre.name %></h3>
<% end %>



<% pre_like = @artist.likes.find { |like| like.user_id == current_user.id} %>

<% if pre_like %>
  <%= button_to 'Unlike', artist_like_path(@artist, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', artist_likes_path(@artist), method: :post %>
<% end %>
<p><%= @artist.likes.count %> <%= (@artist.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<!-- Show 5 similar artists -->
<h2>Artistes similaires</h2>
<% i=0 %>
<% @similar.each do |a| %>
  <% if i<5 %>
    <h3><%= a.name %></h3>
    <%= image_tag a.images[2]['url'] %><br>
    <% i+=1 %>
  <% end %>
<% end %>
