<div class='discover-page'>

  <div class= "show-box">

    <h2>Most liked <br>on Melo</h2>

    <div class= "show-box-inside">
      <% if Like.all == nil then %>
        No likes yet... Be the first!
      <% end %>
      <% @top_artists.each_with_index do |artist, i| %>
        <%= link_to artist.name, artist_path(artist.id) %><br>
      <% end %>
    </div>
  </div>

  <div class= "show-box">
    <h2>Your last <br>likes</h2>
    <div class= "show-box-inside-pink">
      <% if current_user.likes.all == nil then %>
        You haven't liked anything yet!
      <% end %>

      <% @user_likes.each_with_index do |like, i|%>
        <%= link_to (like.artist.name), artist_path(like.artist.id) %><br>
        <% if i==9 then break %>
        <% end %>
      <% end %>

    </div>
  </div>


  <div class= "show-box">
    <h2>Recommended <br>for you</h2>
    <div class= "show-box-inside">

      <% reco = [] %>
      <% i = 0 %>
      <% @user_likes.each do |like| %>
        <% artist = RSpotify::Artist.find(like.artist.spotify_id).related_artists.first.name %>
        <% if artist != nil && reco.include?(artist) == false %>
          <% reco << artist %>
          <% if Artist.find_by(name: artist) != nil %>
            <%=  link_to (artist), artist_path(Artist.find_by(name: artist).id) %>
            <% i+=1 %>
            <br>
          <% end %>
          <% if i==9 then break %>
          <% end %>
        <% end %>
      <% end %>
      <% reco = [] %>

    </div>
  </div>

  <div class= "show-box-comment">
  <h2>Last comments <br>on Melo</h2>
    <div class= "show-box-inside">
    <% Comment.all.reverse.each_with_index do |comment, i|%>
       <div class= 'comment'>
         <p>"<%= comment.content %>"</p>
        </div>
        by <%= comment.user.username %>, on <%= link_to Artist.find(comment.artist_id).name, artist_path(comment.artist_id) %><br><br>
        <% break if i == 4 %>
      <% end %>
    </div>
  </div>

</div>
