
          <% if user_signed_in? %>
    <div class='home-logged'>
          <div class= 'home-right-logged'>
            <%= image_tag("BasKey-Récupéré.png")%>
          </div>

          <!-- tabs-->
          <div class="home-left-logged">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="false">ARTISTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">GENRES</a>
            </li>
          </ul>


          <div class="tab-content" id="pills-tabContent">

            <!-- first tab when signed in-->
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                <div class='container'>
                  <div class="row">
                    <div class="col-sm-16 col-sm-offset-3">
                      <input type="text" id="search-input-artists"  placeholder="Search for artists" />
                    </div>
                  </div>

                    <div class="col-sm-3" id="facets">
                      <div id="artists"></div>
                    </div>
                    <div class="col-sm-9" id="artists-hits"></div>
                  </div>
            </div>


            <!-- second tab when signed in-->

            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
              <div class= 'home-left-logged'>

                <div class='container'>
                  <div class="row">
                    <div class="col-sm-16 col-sm-offset-3">
                      <input type="text" id="search-input-genres"  placeholder="Search for genres" />
                    </div>
                  </div>

                    <div class="col-sm-3" id="facets">
                      <div id="genres"></div>
                    </div>
                    <div class="col-sm-9" id="genres-hits"></div>
                  </div>
               </div>
             </div>

        </div>
        <div class='footer-phrase'>
          <%= link_to image_tag('search.png'), root_path, onclick: "window.location.href='/'", class: "icon-link"%> <%= link_to 'Search', root_path, onclick: "window.location.href='/'", class: "link-text"%> for genres and artists and like your favorites to find inspiration and recomendations under <%= link_to image_tag('compass.png'), discover_path,  class: "icon-link" %> <%= link_to "Discover", discover_path,  class: "link-text" %>.
        </div>
        </div>

            <!--when not logged-->

          <% else %>
      <div class= "home">
         <div class= 'home-left'>
            <h1>Sign up to discover new artists you're sure to love </h1>
            <hr>
            <p>Here at melomaniacs, we believe in the power of <strong>community</strong> to discover new things you’ll end up loving. We provide you with an <strong>extensive artists database</strong> and the opportunity to <strong>express your opinion</strong>. Our <strong>smart research and recomendation features</strong> allow you to find new things you’re sure to love.</p>
            <div class= "home-buttons">
              <button class='home-button-primary' data-toggle="modal" data-target="#signUpModal">Sign up</button><button class='home-button-secondary' data-toggle="modal" data-target="#logInModal">Log in</button>
            </div>

          </div>

          <div class= 'home-right'>
            <%= image_tag("BasKey-background.png")%>
          </div>

          <% end %>

    </div>
