<!DOCTYPE html>
<html>
  <head>
    <title>Melomaniacs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
     <%= render "shared/header" %>
    <%= yield %>
    <% unless user_signed_in? %>
     <%= render partial: 'devise/registrations/new' %>
      <%= render partial: 'devise/sessions/new' %>
      <% end %>
    
  </body>
</html>
