<!DOCTYPE html>
<html>

  <head>
    <title>Melomaniacs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  </head>

  <body>
    <%= render "shared/header" %>
    <%= yield %>
    <% if flash[:alert] %>
      <%=flash[:alert]%>
    <%end%>
    <% unless user_signed_in? %>
      <%= render partial: 'devise/registrations/new' %>
      <%= render partial: 'devise/sessions/new' %>
    <% end %>
  </body>

</html>
